body{
    background-color: white;

}
#hero_section{
    height: 40vh;
    display: flex;
}
    width:50%;
    height:100%;
    color: brown;

}
#fname{
font-size:520%;
}
#name{
    text-align:center;
}
#ch{
    width:70%
    height:120%
    border-radius:70% 
    
#img{
    border-radius:70%
    
}